<?php
	$data=$this->get('data');
	$now_date = date("Y-m-d");


?>

<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl3KgHAfjkFXPZGCsk64BX2Z-Xf71KkWo&callback=initMap"
    type="text/javascript" ></script> 


<script type="text/javascript" src="/calendar/static/js/show_event.js"></script>
<div class="box">
    <div class="content">
    	<a href="#home"><button type="button" class="btn btn-default btn-md">
  			 <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
		</button>
		</a>
		<a href="#description"><button type="button" class="btn btn-default btn-md">
  			 <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Description
		</button></a>
		<a href="#location"><button type="button" class="btn btn-default btn-md">
  			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Location
		</button></a>

    </div>
</div>
<div class="ramka">
	<a name="home"></a>
	<div class="backGroundShowEvent">
		<div id="LeftPageShowEvent">
			<div class = "pictureShowEvent">
				<?php
				if($data['image_href'] != '')
				{
					?>
					<img src="/calendar/<?php echo $data['image_href']; ?>" alt="Generic placeholder image"/>
					<?php
				}else{
					?>
					<img src="/calendar/static/images/empty_gallery.png" alt="Generic placeholder image"/>

						<?php
					}
				?>
			
			</div>
			<a name="location"></a><div id="map"></div>
			<div class ="facebookShowEvent">

				<?php
					if($data['facebook_page_event'] != ''){
						?>
								<script src="http://connect.facebook.net/pl_PL/all.js#xfbml=1"></script>
				<fb:like href="<?php  echo $data['facebook_page_event']; ?>" show_faces="true" width="450"></fb:like>
						<?php

				}
				?>
				
			</div>
		</div> 




		<div id="textShowEvent">
			<a name="home"></a>
			<h2><?php  echo $data['title']; ?></h2>


			<p class = "textSectionShowEvent">Term:</p>
				<div class="to_form"><?php  echo $data['from_date']; 
				echo'  ';
			 	echo $data['to_date']; 
			 	?></div></br>

				<p class = "textSectionShowEvent">Price:</p>
					<div class="to_form"><?php  if ($data['is_free_ticket'] == 1)
											  {
											    echo "Free entrance";
											  } elseif ($data['is_free_ticket'] == 0)

											  {
											  	if(isset($data['ticket'])){
											  		foreach ($data['ticket'] as $value) {
											  			echo $value['name']." : ".$value['cost']." zł </br>";
											  		}
											  	}
											  } 

									?></div></br>

				<p class = "textSectionShowEvent">Opening hours:</p>
					<div class="to_form"><?php 
			 		echo $data['from_time'];
			 		echo' - ';
			 		echo $data['to_time'];
			 		?></div></br>

				<p class = "textSectionShowEvent">Place:</p>

				<div class="to_form"><div id="cityGoogle"><?php  echo $data['city']." \n"; ?> </div>
					<div id="streetGoogle"> <?php echo 'ul.'.$data['street']."\n"; ?> </div><?php
					if($data['room'] != ''){ 
			 			echo ' room: '.$data['room'];
			 		}
			 		?>
				</div>
				</br>
				<p class = "textSectionShowEvent">Number of available tickets:</p>
				<div class="to_form"><?php  echo $data['size_space']; ?>
				</div></br>
				<form method="POST" action="" id="buyTicketValidate">
					<div class="to_form" color="#86959B">
						<select id="typeTicket" name="type_of_event">
							<option value="buy">Buy Ticket</option>
							<option value="resevation" >Reservation</option>
						</select>
					</div>
					</br>

					<p class = "typeTicketShowEvent">Select the number of tickets:</br>
					<?php
						if($data['is_free_ticket'] == 0){
							if(isset($data['ticket'])){
								foreach ($data['ticket'] as $key => $value) {
									?>
									<input type="checkbox"  id="kindTicket[<?php echo $key; ?>]" name="kindTicket[]" value="<?php echo $value['name'];?>"><?php echo $value['name']." : ";?>
									<input type="number" margin-top="30px"  text-align="center" id="quantity<?php echo $key; ?>" name="<?php echo $value['name'];?>" min="1" max="<?php  echo $data['size_space']; ?>"><br/>
									<?php


									}
									?>
								</p>
							<?php
							}						

						}else{
						?>
						<input type="number" margin-top="30px" text-align="center" name="quantity" min="1" max="<?php  echo $data['size_space']; ?>"></p>
						<?php
						}
					?>
					<?php
					if(empty($_SESSION['id'])){
						?>
						<div class="alert alert-warning">
							<strong>Warning! </strong>Before you buy a ticket you need to register!
						</div>
						<?php
					}elseif (strtotime($data['from_date'])  <= strtotime($now_date)) {
						?>
						<div class="alert alert-warning">
							<strong>Warning! </strong>out of date Event!
						</div>
						<?php
					}else{
						?>
						<div id="hidden_buy" >
							<?php
							if($data['is_free_ticket'] == 0){
								?>
								<p class = "textSectionShowEvent">Payment type:</p>
								<div class="to_form">
									<select id="TrasactionTicket" name="transaction">
										<option value="card">Card</option>
									</select>
								</div>
								<?php
							}
							?>
							<br/>
							<input class="btn btn-primary btn-lg"  type="submit" value="Buy Ticket &raquo;">
						</div>
						<div id="hidden_reservation">
							<input  class="btn btn-primary btn-lg"  type="submit" value="Reservation &raquo;">
						</div>
						<?php
					}
					?>
				</form>
				<?php
				$problem = $this->get('error_succes');
				if($problem['number'] == 1){
					?>
					<div class="alert alert-danger" role="alert">
						<?php
						echo "<b>",$problem['comunicate'],"</b>";
						?>
					</div>
					<?php
				}elseif($problem['number'] == 0){
					?>
					<div class="alert alert-success" role="alert">
						<?php
						echo "<b>",$problem['comunicate'],"</b>";
						?>
					</div>
					<?php
				}elseif ($problem['number'] == 2) {
					?>
					<script>
					var message = <?php echo json_encode($problem['comunicate']); ?>;	
					alert(message); 
					</script>
					<?php
				}
				?>
			</div>
			<div style="clear:both;"></div>
			<div class = "descriptions"><a name="description"></a>
				<?php echo $data['description']; ?>
			</div>
		</div>	
	</div>


